<!doctype html>
<html class='no-js' lang='en'>
<head>
    <%= render "app_head.html", conn: @conn %>
</head>

<!__ TODO: add class containing .controller_name .action_name to <body>__>
<body class='w-100 sans-serif'>
	<div class='clearfix border'>
		<div class='layout'>

            <!__ Mobile Search__>
            <section class='layout__search dn-l dn-m db-ns w-100-ns fn bb b--layout'>
                <%= component "layout_search", conn: @conn %>
            </section>

            <!__   ### Sidebar ###   __>
            <aside class='layout__sidebar w-100 w-25-l w-30-m w-100-ns fn fl-ns br b--layout shadow-side-1'>
                <div class='ph4-l ph3-m ph3-ns'>
                  <!__   Navigation  __>
                  <%= component "layout_sidebar", conn: @conn %>
                </div>
            </aside>

            <!__   ### Main ###   __>
            <main class='layout__main w-100 w-75-l w-70-m w-100-ns fn fl-ns'>

                <!__   Alerts   __>
                <section class='layout__alerts w-100-l fn'>
                    <%= component "layout_alert", conn: @conn %>
                </section>

                <!__   Search   __>
                <section class='layout__search db-l db-m dn db-l db-m w-100 fn bb b--layout'>
                    <%= component "layout_search", conn: @conn %>
                </section>

                <%= if assigns[:sidebar] do %>
                  <!__   Sidebar  __>
                  <aside class='layout__subnav w-20-l mw1-m dn db-l dn-m dn-ns fn fl-ns b--layout br'>

                      <div class='ph3 pt2' style='min-height:1000px'>
                          <%= component "category_list", conn: @conn, categories: @categories, selected_category: @category %>
                      </div>

                  </aside>
                <% end %>

                <!__   Content   __>
                <section class='layout__content w-100 w-80-l fn fl-ns pv4 ph3 ph5-l ph4-m'>
                    <%= render @view_module, @view_template, assigns %>
                </section>

                <%= if !assigns[:sidebar] do %>
                    <!__   Buffer   __>
                    <aside class='layout__buffer w-20-l mw1-m db-l dn-m dn-ns fn fl-ns'>
                        <br>
                    </aside>
                <% end %>

            </main>

            <!__  ### Footer ###   __>
            <footer class='layout__footer
                           w-100-l
                           fl fl-ns
                           black-70
                           ph3 ph5-ns pv5 pv6-ns
                           bt b--black-10'>
                <%= component "layout_footer", conn: @conn %>
            </footer>

		</div>
	</div>

    <!__   Scripts   __>
	<%= render "app_script.html", conn: @conn %>
</body>
</html>
