/__ META __
meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
meta name="viewport" content="width=device-width, initial-scale=1"

/ {% if page.excerpt %}meta name="description" content="{{ page.excerpt | strip_html }}" {% endif %}
/ {% if page.tags %}meta name="keywords" content="{{ page.tags | join: ', ' }}" {% endif %}
/ {% if page.author %}
/   {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
/ {% endif %}
/
/ {% if site.owner.google.verify %}!&#45;&#45; Webmaster Tools verfication &#45;&#45;
/ meta name="google&#45;site&#45;verification" content="{{ site.owner.google.verify }}" {% endif %}
/ {% if site.owner.bing&#45;verify %}meta name="msvalidate.01" content="{{ site.owner.bing&#45;verify }}" {% endif %}
/
/ {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
/ link rel="canonical" href="{{ canonical }}"
/ link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed"

/ __ ASSETS __
link rel="stylesheet" href="#{Routes.static_path(@conn, "/css/app.css")}"

/ __ 3RD PARTY ASSETS __
script src="https://kit.fontawesome.com/fec2640040.js"

/ __ TOKEN __
- if current_user = current_user(@conn) do
  = tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", current_user.id)

/ __ TITLE __
title dmix - Dan McGrady
