article.lh-copy
  h1.lh-title.ttu About

  span.black-80.f5
    p
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the
        a href="#" industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book.

    p
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a
        a href="#" type specimen book
        It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged.  It was
        popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing

    p
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the
        a href="#" industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley
        of type and scrambled it to make a type specimen book.

[5:00](https://www.youtube.com/watch?time_continue=300) is everything you need to hear about Ant's firing:

> I doubt I would have continued in October with Anthony. You know it was very convient when he got fired.

> Then I was like ohh okay, here's my opportunity to move on from this. Yeah absolutely.

I'm not convinced Opie put ANY effort into getting Ant back on the show. And then the whole thing with Ant showing up on J&S the day after Opie gets fired?

Which makes the rest of the phony shit he said from 1-5min total bullshit.
