h2 New Post

= render "form.html", changeset: @changeset, categories: @categories, action: Routes.user_post_path(@conn, :create, @user)

.lh-copy.mt3
  = link "Back", to: Routes.post_path(@conn, :index), class: "f6 link dim black db"
