@import "../variables";

@media (--breakpoint-small) {
    .content__navigation {
        display: grid;
        grid-template-areas:
           "Home Blog"
           "Projects About";

        .button {
            text-align: left;
            width: 50%;
        }
    }
}

@media (--breakpoint-not-small) {
    .content__navigation {
        .button {
            text-align: right;
        }
    }
}

.content__logo {
    margin-right: 1.0rem;
    .content__logo-name {
      color: #111;
    }
}

.content__navigation {
    margin-right: 1.5rem;
}

.content__navigation a {
    /* border-left: 3px solid var(--black-0125); */
    /* color: var(--black-60); */
    padding: 0.75rem 0;
}

.content__navigation .inactive:hover {
    color: var(--black-80);
}

.content__navigation .inactive:active {
    color: var(--black-70);
}

.content__navigation .inactive:focus {
}

.content__navigation .active {
    color: var(--black-80);
    /* border-left: 3px solid var(--green); */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}
