.content__logo {
    margin: auto;
    width: 10rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    float: right;
}

.content__logo-avatar {
    background-size: contain;
    /* float: right; */
}

.content__logo-name {
    line-height: 0.75rem;
    width: 5rem;
    margin: auto;
}
