.content-logo {
    margin-top: 1rem;

    &__body {
        margin-bottom: 1rem;
    }

    &__avatar {
        background-size: contain;
    }

    &__name {
        display: none;
        line-height: 0.75rem;
        width: 5rem;
        margin: auto;
    }
}

@media (--breakpoint-small) {
    .content-logo {
        padding: 0 2rem;
    }
}

@media (--breakpoint-not-small) {
    .content-logo {
        margin-top: 8rem;
        justify-content: flex-end;

        &__name {
            display: block;
        }

        &__body {
            width: 10rem;
        }
    }
}
