@import "../variables";

@media (--breakpoint-small) {
    .content__navigation {
        max-width: 175px;
        display: grid;
        grid-template-areas:
           "Home Blog"
           "Projects About";

        .button {
            margin-right: 10px;
        }

        a {
            padding: 0.4rem 0;
            font-family: var(--serif-family);
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 480px) and (max-width:650px) {
    .content-logo {
        margin-right: 1rem;

        &__body {
            display: grid;
            grid-template-areas:
               "content-logo__avatar"
               "content-logo__name";
            justify-content: flex-end;
        }

        &__avatar {
            margin-bottom: 30px;
            justify-self: flex-end;
        }

        &__name {
        }
    }

    .content__navigation {
    }
}

@media (min-width: 380px) and (max-width:900px) {
    .content__navigation {
        padding-top: 1rem;
        grid-template-areas:
           "Home Blog Projects About";
    }
}

@media (--breakpoint-not-small) {
    .content__navigation {
        .button {
            text-align: right;
        }

        a {
            padding: 0.75rem 0;
        }
    }
}

.content__logo {
    margin-right: 1.0rem;

    .content__logo-name {
      color: #111;
    }
}

.content__navigation {
    margin-right: 1.5rem;
}

.content__navigation .inactive:hover {
    color: var(--black-80);
}

.content__navigation .inactive:active {
    color: var(--black-70);
}

.content__navigation .inactive:focus {
}

.content__navigation .active {
    color: var(--black-80);
    /* border-left: 3px solid var(--green); */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}
