.layout__search {
}


@media (--breakpoint-large) {
  .layout__search {
      padding: 1.5rem 0;
  }

  .search__form {
    border-radius: 5px;
  }
}

.search__form  {
  background: var(--search-bg);
  border: 1px solid var(--search-border);
  margin: 1px;

  .search__icon {
      position: relative;
      top: 19px;
      color: var(--search-icon);
      float: left;
      width: 4rem;
      text-align: center;
      height: 40px;
      margin-top: -10px;
      padding-top: 8px;
      border-right: 1px solid var(--search-icon-border);
      margin-right: -100px;
  }

  ::-webkit-input-placeholder {
      color: var(--search);
  }

  .search__input {
      padding-left: 5.5rem;

      &:focus::-webkit-input-placeholder {
          color: var(--search-placeholder--focus);
      }
  }

  &:hover {
      margin: 0;
      border: 2px solid var(--search-border--hover);

      ::-webkit-input-placeholder {
          color: var(--search-placeholder--hover);
      }

      .search__icon {
          border-right: 1px solid var(--search-icon-border--hover);
          color:var(--search-icon--hover);
      }
  }

  &:active {
      ::-webkit-input-placeholder {
          color: var(--search-placeholder--active);
      }

      .search__icon {
          border-right: 1px solid var(--search-icon-border--active);
          color: var(--search-icon--active);
      }
  }
}
