.layout__search {
    max-width: 850px;
    padding: 10px 0;
}

.search__form  {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);

  .search__icon {
      position: relative;
      top: 16px;
      color: #333;
      float: left;
      width: 4rem;
      text-align: center;
      height: 3rem;
      margin-top:-10px;
      padding-top:10px;
      border-right: 1px solid rgba(0,0,0,0.05);
      margin-right: -100px;
  }

  ::-webkit-input-placeholder {
      color: var(--black-50);
  }

  .search__input {
      padding-left: 5.5rem;

      &:focus::-webkit-input-placeholder {
          color: var(--black-0125);
      }
  }

  &:hover {
      border-color: var(--primary);
      /* transform:scale(1.1) translateX(55px); */

      ::-webkit-input-placeholder {
          color: var(--black-10);
      }

      .search__icon {
          border-right: 1px solid rgba(0,0,0,0.1);
          color:var(--primary)
      }
  }

  &:active {
      ::-webkit-input-placeholder {
          color: var(--black-05);
      }
  }
}
