/* --------------------------------------------------------------------------*/
/*
/*                               DMIX: Content 
/*
/* --------------------------------------------------------------------------*/


/* --------------------------------------------------------------------------*/
/* Base
/* --------------------------------------------------------------------------*/

.layout--content .lh-title {
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-block;
}
