/* --------------------------------------------------------------------------*/
/*
/*                               DMIX: Layout
/*
/* --------------------------------------------------------------------------*/

@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);
/* --------------------------------------------------------------------------*/
/* Base
/* --------------------------------------------------------------------------*/

body, html {
    height: 100%;
    background: white;
}

menu {
    -webkit-display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


/* --------------------------------------------------------------------------*/
/* Colors
/* --------------------------------------------------------------------------*/

.b--layout {
    border-color: rgba(0,0,0,0.035);
}

/* --------------------------------------------------------------------------*/
/* Grid
/* --------------------------------------------------------------------------*/

main {
}

.layout--sidebar {
    height: 100%;
    margin-left: -1px;
}

@media (--breakpoint-large) {
    .layout--sidebar {
        min-height: 1200px;
    }
} 

/* main { */
/*   margin-left: 300px; */
/*   min-height: 800px; */
/* } */
/* .layout--sidebar { */
/*     position: fixed; */
/* } */

