/* __________________________________________________________________________*/
/*
/*                               dmix: Layout
/*
/* __________________________________________________________________________*/

@import "variables";

/* __________________________________________________________________________*/
/* Base
/* __________________________________________________________________________*/

body, html {
    height: 100%;
}

@media (--breakpoint-not-small) {
    body, html {
        background: var(--bg);
    }
}

.layout__content {
    background-color: var(--secondary-bg);
}

.max-width {
    max-width: var(--max-width);
}

menu {
    -webkit-display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


/* __________________________________________________________________________*/
/* Colors
/* __________________________________________________________________________*/

.b--layout {
    border-color: rgba(0,0,0,0.035);
}

/* __________________________________________________________________________*/
/* Grid
/* __________________________________________________________________________*/

main {
}

.layout__sidebar {
    height: 100%;
    margin-left: -1px;
}

.layout__subnav {
    min-height: 1000px;
    margin-right:-1px
}

@media (--breakpoint-small) {
    .layout__sidebar {
        display: flex;
        margin: 2rem 0;

        &-logo {
        }

        &-nav {
            padding-top: 0.75rem;
            padding-right: 2rem;
            flex-grow: 1;
        }
    }
}

@media (--breakpoint-not-small) {
    .layout__sidebar {
        &-logo {
        }

        &-nav {
        }
    }
}

@media (--breakpoint-large) {
    .layout__sidebar {
        min-height: 1200px;
    }
}

/* main { */
/*   margin-left: 300px; */
/*   min-height: 800px; */
/* } */
/* .layout__sidebar { */
/*     position: fixed; */
/* } */
