/* --------------------------------------------------------------------------*/
/*
/*                               DMIX: Overrides
/*
/* --------------------------------------------------------------------------*/


/* --------------------------------------------------------------------------*/
/* Tachyon */
/* --------------------------------------------------------------------------*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--black-20);
}
::-moz-placeholder {
  color: var(--black-20);
}

.shadow-side-1 {
    box-shadow: 3px 0 0 0 rgba(0, 0, 0, .01);
    box-shadow: none;
}

.sans-serif {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Droid Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.f5 {
    font-size: 1.1rem;
}

.ph4 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.b--black-10 {
    border-color: rgba(0,0,0,0.08);
}

