/* __________________________________________________________________________*/
/*
/*                               DMIX: Typography
/*
/* __________________________________________________________________________*/


/* __________________________________________________________________________*/
/* Base */
/* __________________________________________________________________________*/

.f8 {
    font-size: 0.5rem;
}

article {
    p {
        font-family: var(--serif-family);
        font-weight: 400;
        font-style: normal;
        font-size: 1.3rem;
        line-height: 1.58em;
        letter-spacing: -.003em;
        margin-bottom: 20px;
    }

    h1 a:hover {
      text-decoration: none;
    }

    p a:hover {
      text-decoration:underline
    }
}

.logo, .lh-title {
    font-weight: 700;
}

.lh-copy p {
}
