<h2>Edit Category</h2>

<%= if current_user = current_user(@conn) do %>
  <%= render "form.html", changeset: @changeset,
                          action: category_path(@conn, :update, @category) %>
<% end %>
<span><%= link "Back", to: category_path(@conn, :index) %></span>
