<h2>Show Category</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @category.description %>
  </li>

  <li>
    <strong>Icon:</strong>
    <%= @category.icon %>
  </li>

</ul>

<span><%= link "Edit", to: category_path(@conn, :edit, @category) %></span>
<span><%= link "Back", to: category_path(@conn, :index) %></span>
