<!doctype html>
<html class='no-js' lang='en'>
<head>
    <%= render "head.html", conn: @conn %>
</head>

<body class='homepage'>

<div class='clearfix border'>

    <div class="layout">
        <nav class='border-left border-right'>
            <a class='logo h1 bold center'>
                <i class="fa fa-diamond" aria-hidden="true" /></i>
                dmix
            </a>
            <menu>
                <%= render "nav.html", conn: @conn %>
            </menu>
        </nav>
        <main class='border-right'>
            <%= render "alerts.html", conn: @conn %>

            <%= render @view_module, @view_template, assigns %>
            <footer>
            </footer>
        </main>
        <aside class='xs-hide'>
        </aside>
    </div>
</div>

<%= render "script.html", conn: @conn %>
</body>
</html>
