<!doctype html>
<html class='no-js' lang='en'>
<head>
    <%= render "app_head.html", conn: @conn %>
</head>

<!-- TODO: add class containing .controller_name .action_name to <body>-->
<body class='w-100 sans-serif'>
	<div class='clearfix border'>
		<div class='layout'>

            <!--   ### Sidebar ###   -->
            <aside class='layout--sidebar w-100 w-20-l fn fl-ns br-l b--black-10 shadow-side-1'>

                <!--   Navigation  -->
                <%= component "layout_sidebar", conn: @conn %>

            </aside>

            <!--   ### Main ###   -->
            <main class='layout--main w-100 w-80-l fn fl-ns'>

                <!--   Search-->
                <section class='layout--search w-100-l fn fl-ns'>
                  <%= component "layout_search", conn: @conn %>
                </section>

                <!--   Alerts   -->
                <%= component "layout_alert", conn: @conn %>

                <!--   Content   -->
                <section class='layout--content w-75-l fn fl-ns pv4 ph4'>
                    <%= render @view_module, @view_template, assigns %>
                </section>

                <!--   Buffer   -->
                <aside class='layout--buffer w-100 w-25-l fn fl-ns'>
                  <br>
                </aside>

            </main>

            <!--  ### Footer ###   -->
            <footer class='layout--footer 
                           w-100-l 
                           fl fl-ns 
                           black-70 
                           ph3 ph5-ns pv5 pv6-ns 
                           bt b--black-10'>
                <%= component "layout_footer", conn: @conn %>
            </footer>

		</div>
	</div>

    <!--   Scripts   -->
	<%= render "app_script.html", conn: @conn %>
</body>
</html>
