{% for item in site.data.menu %}
    <a href='{{ item.url }}' class='btn {{ item.style }}'>
        {{ item.name }}
    </a>
{% endfor %}
<p>
  <%= link "Login", to: session_path(@conn, :new) %>
</p>
<p>
  <%= link "New User", to: user_path(@conn, :new) %>
</p>
