<h2>Edit Post</h2>

<%= if current_user = current_user(@conn) do %>
  <%= render "form.html", changeset: @changeset,
                          categories: @categories,
                          action: user_post_path(@conn, :update, current_user.id, @post) %>
<% end %>

<div class="lh-copy mt3">
    <%= link "Back", to: post_path(@conn, :index), class: "f6 link dim black db" %>
</div>
