h2 Edit User

= render "form.html", changeset: @changeset, roles: @roles, action: Routes.Routes.user_path(@conn, :update, @user)

.lh-copy.mt3
  = link "Back", to: Routes.Routes.user_path(@conn, :index), class: "f6 link dim black db"
