<article class='blog-post'>
    <h1 class='lh-title'>
        <%= @post.title %>
    </h1>

    <h4>
        <%= @post.user.username %>
    </h4>

    <small>
        Categories:
        <%= for category <- @post.categories do %>
            <%= category.name %>,
        <% end %>
    </small>

    <hr>
    <%= markdown(@post.body) %>
    <hr>
</article>
